.App {
  padding: 100px;
}
.product {
  border: 1px black solid;
  border-radius: 5px;
  width: 200px;
  height: 200px;
}

.pagination {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.pages {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 50px;
}

.pageBox {
  border: 1px black solid;
  border-right: none;
  /* border-right: 0px; */
  padding: 20px;
}

.pageBox:last-child {
  border-right: 1px black solid;
}

.selected {
  background-color: aqua;
}

/* .pageBox:last-child {
  border-right: 1px;
} */